*~
# Visual Studio 2012 temporary files
*.v11.suo
*.csproj.user
*.sdf
*.cache
*.jpg
*.dat
*.bmp
wp8_app/camera_example/C#/sdkBasicCameraCS/Bin/
wp8_app/camera_example/C#/sdkBasicCameraCS/obj/
wp8_app/sensors_example/C#/sdkRawSensorDataCS/Bin/
wp8_app/sensors_example/C#/sdkRawSensorDataCS/obj/
wp8_app/PhoneApp1/obj/
wp8_app/PhoneApp1/Bin/
wp8_app/bluetooth_example/C#/SimplePhoneSocketClient/WinsockClient/ARM/Debug/*
wp8_app/bluetooth_example/C#/SimplePhoneSocketListener/WinsockListener/Debug/*
wp8_app/bluetooth_example/c#/SimplePhoneSocketClient/ARM/*
wp8_app/bluetooth_example/c#/SimplePhoneSocketClient/SimplePhoneSocketClient/Bin/ARM/Debug/*
wp8_app/bluetooth_example/c#/SimplePhoneSocketClient/SimplePhoneSocketClient/obj/*